---
import { slides } from "../../data/slides"
import { info } from "../../data/info"
import Button from "./Button.astro"
---

<section class="relative pt-16">
  <div id="default-carousel" class="relative w-full" data-carousel="slide">
    
    <!-- Slides -->
    <div class="relative h-[500px] sm:h-[600px] md:h-[700px] lg:h-[750px] overflow-hidden">
      {slides.map((slide, index) => (
        <div class={`hidden duration-700 ease-in-out ${index === 0 ? 'block' : ''}`} data-carousel-item>
          <!-- Resim -->
          <img src={slide.src} alt={slide.title} loading="eager" class="absolute w-full h-full object-cover" />

          <!-- Koyu Karartma -->
          <div class="absolute inset-0 bg-black/50"></div>

          <!-- Gradient + Yazı -->
          <div class={`absolute inset-0 bg-gradient-to-r from-${slide.color}-600/30 to-${slide.color}-800/30`}>
            <div class="flex items-center justify-center h-full">
              <div class="text-center text-white px-4">
                <h1 class="mb-4 text-3xl font-extrabold md:text-5xl lg:text-6xl">{slide.title}</h1>
                <p class="mb-6 text-lg font-normal lg:text-xl">{slide.desc}</p>
                <Button variant="primary" size="lg" href={`tel:${info.tel}`}>
                  <span class="flex items-center gap-1 sm:gap-3">
                    <svg
                      class="w-5 h-5 mr-1 sm:mr-1"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      >
                      <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
                    </svg>
                    {info.phone}
                  </span>
                </Button>
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>

    <!-- Ok Butonları -->
    <button type="button" aria-label="Önceki Görsel" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/40 hover:bg-black/60">
        <svg class="w-4 h-4 text-white" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
        </svg>
      </span>
    </button>
    <button type="button" aria-label="Sonraki Görsel" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/40 hover:bg-black/60">
        <svg class="w-4 h-4 text-white" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
        </svg>
      </span>
    </button>
  </div>
</section>
