---
import Head from "./Head.astro";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";

const {
  title,
  description,
  image,
  frontmatter,
  robots,
  jsonLdType,
  jsonLdData,
} = Astro.props;

---

<html lang="tr">
  <meta charset="UTF-8">
  <Head {title} {description} {image} {frontmatter} {robots} type={jsonLdType} data={jsonLdData} />
  <body class="bg-white text-gray-900">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <WhatsAppButton />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
